body{
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
}
nav{
    width: 100%;
    height: 30px;
    background-color: red;
    
}
nav ul li{
   display: inline;
   float: left;
   margin-left: 40px;

}
nav ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: white;
    
}
.container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 40%;
    padding-left: 10%;
    margin-top: 50px;
    padding-top: 5%;
}
.font-color{
    color: red;
}
h1{
    font-size: 70px;
    font-weight: 900;
}
.half-width img{
    width: 70%;
}
.link-button{
    text-decoration: none;
    font-weight: 900;
    background-image: linear-gradient(red, black);
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
}

#container2{
    display: flex;
    background-image: url(images/shapes/7.png);
}
.recipe{
    
    font-weight: lighter;
}
.text-center{
    text-align: center;
}
.my-recipies{
    display: flex;
    padding-left: 5%;
   
   
}
.recipies-item{
    width: 25%;
   margin: 40px;
   box-shadow: 10px 10px 40px gray;
   border-radius: 5%;
}
.recipies-item img{
   height: 300px;
   width: 400px;
   padding: 10px;
   margin: 10px;
   border-radius: 10%;
}
.recipe-item-text{
    text-align: left;
    margin-left: 10px;
    padding-left: 10px;
}

.followers{
    display: flex;
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    margin-left: 5%;
    text-align: center;
    width: 83%;
    height: 200px;
}
.followers-item{
    margin: auto;
}
.footer{
    text-align: center;
    background-color: rgb(12, 172, 235);
    padding-bottom: 30px;
}